@import url('https://fonts.googleapis.com/css2?family=Cairo&display=swap');


*{  
    
    box-sizing: border-box;
    font-family: "Cairo";
    margin: 0px;
    padding: 0px;
    text-decoration: none;
transition: ease .5s;
scroll-behavior: smooth;





}
body{
    background-image: url(images3/R.jpg);
height: 120vh;


background-size: cover;

background-attachment: fixed;
background-blend-mode: overlay;
background-position: center;

background-color: rgba(0,0,0,.5)
}
header{
 
    display: flex;
    justify-content:space-between;
    width: 100%;
    background-color: rgb(8, 8, 48);
    color: white;
   position: fixed;
   z-index: 9999;
   
}
header h2{
    background-color: rgb(3, 3, 34);
    color: white;
    padding: 0px 40px;  

}
header span{
    background-color:rgb(3, 3, 34) ;
}


header nav {   padding: 0px 100px;  background-color: rgb(8, 8, 48);
}
header nav a{
   
    color: white;
    margin-left: 50px;
    font-size: 23px;
    transition: ease 1s;
}
nav a:hover{
    font-size: 28px;
color: blue;
background-color: rgb(57, 9, 61);
border-radius: 10%;

}
img:hover{width:700px;
    height: 500px;
    margin-right: 50px;

}
.up{
    position: fixed;
    bottom: 50px;
    right: 30px;
    background-color: #cfc9eb;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
  justify-content: center;
  display: flex;
  align-items: center;
}
.up:hover{
                      background-color: #4a438a;
}











                                    /*scroll*/



                                    ::-webkit-scrollbar {
                                        width: 10px;
                                      }
                                      
                                      /* Track */
                                      ::-webkit-scrollbar-track {
                                        box-shadow: inset 0 0 5px grey; 
                                   
                                      }
                                       
                                      /* Handle */
                                      ::-webkit-scrollbar-thumb {
                                        background: rgb(20, 2, 43); 
                                       
                                      }
                                      
                                      /* Handle on hover */
                                      ::-webkit-scrollbar-thumb:hover {
                                        background: #0f033d; 
                                      }
                                
